<div class="card" style="margin-bottom:20px">
    <div class="card-title">Recent Checks</div>
    <div class="checks-rows" style="padding-bottom:18px">
        <div class="check-row">
            <div class="check-row-label">SSH</div>
            <div class="check-circles" id="checks-ssh"></div>
        </div>
        <div class="check-row">
            <div class="check-row-label">HTTP</div>
            <div class="check-circles" id="checks-http"></div>
        </div>
        <div class="check-row">
            <div class="check-row-label">FTP</div>
            <div class="check-circles" id="checks-ftp"></div>
        </div>
    </div>
</div>
